# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
*.import
export.cfg
export_credentials.cfg

# Imported translations
*.translation

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Visual Studio Crap
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build files
bin/
obj/
